-- OMNIWEB MIGRATION 116: WISDOM-TO-ACTION BRIDGE
-- Composite layer to transition from wisdom suggestions to structured action packages.

CREATE TABLE IF NOT EXISTS governance_action_packages (
    package_id TEXT PRIMARY KEY,
    package_type TEXT NOT NULL, -- RELIEF_ACTION, ROOT_AUDIT, SAFE_REFACTOR, PREVENTIVE_STABILIZATION, EXPERIMENTAL_GUARDED
    package_title TEXT NOT NULL,
    composite_objective TEXT,
    involved_nodes_json TEXT, -- JSON list of Wisdom Node IDs
    mission_draft_json TEXT, -- JSON serialized MissionDraft
    advisory_drafts_json TEXT, -- JSON list of Advisory Drafts
    rationale TEXT,
    confidence REAL,
    risk_level TEXT,
    package_risk_notes TEXT,
    creator_decision TEXT DEFAULT 'PENDING', -- PENDING, APPROVED, PARTIAL, REJECTED, REALIZED
    realized_mission_id TEXT, -- Linked mission after approval
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
